
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Impression
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <img [hidden]='!loadingImpression' [class]="loadingImpression?'mx-auto d-block':''" src="assets/LoadingGIF/Rolling-1s-75px.gif">
                <canvas id="impression" width="1200px" height="400"></canvas>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Budget
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <img [hidden]='!loadingBudget' [class]="loadingBudget?'mx-auto d-block':''" src="assets/LoadingGIF/Rolling-1s-75px.gif">
                <canvas id="budget" width="1200px" height="400"></canvas>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>