<div class="hold-transition sidebar-mini layout-navbar-fixed layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <app-header></app-header>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <app-sidebar [page]="'dashboard'"></app-sidebar>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-2 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <!-- <h3>{{dashData.dashData.survey.label}}</h3> -->
                                    <h3>0</h3>
                                </div>
                            <a href="#" class="small-box-footer ">Runnning Advert</a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-2 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                            <div class="inner">
                                <!-- <h3>{{dashData.dashData.survey.label}}</h3> -->
                                <h3>0</h3>
                            </div>
                            <a href="#" class="small-box-footer ">Runnning Survey</a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-2 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                            <div class="inner">
                                <!-- <h3>{{dashData.dashData.survey.label}}</h3> -->
                                <h3>0</h3>
                            </div>
                            <a href="#" class="small-box-footer">Total Refunds Claim</a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-2 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                            <div class="inner">
                                <!-- <h3>{{dashData.dashData.survey.label}}</h3> -->
                                <h3>0</h3>
                            </div>
                            <a href="#" class="small-box-footer">Total Impressions Returned</a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-2 col-6">
                            <!-- small box -->
                            <div class="small-box bg-primary">
                            <div class="inner">
                                <!-- <h3>{{dashData.dashData.survey.label}}</h3> -->
                                <h3>0</h3>
                            </div>
                            <a href="#" class="small-box-footer">Total Adverts</a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-2 col-6">
                            <!-- small box -->
                            <div class="small-box">
                            <div class="inner">
                                <!-- <h3>{{dashData.dashData.survey.label}}</h3> -->
                                <h3>0</h3>
                            </div>
                            <a href="#" class="small-box-footer">Total Survery</a>
                            </div>
                        </div>
                    <!-- ./col -->
                    </div>
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <div class="col-6">
                            <div class="card card-primary card-outline card-tabs">

                                <img [hidden]='!loading' [class]="loading?'mx-auto d-block':''" src="assets/LoadingGIF/Rolling-1s-75px.gif">

                                <!-- Default box -->
                                <div class="card card-solid" [hidden]='loading'>
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-edit"></i>
                                            Top Advert Campaign
                                              <!-- /.card-tools -->
                                        </h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Client</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let advertRow of advertList;">
                                                    <td><a [routerLink]="['/adverts/view', advertRow.ref]"> {{advertRow.title}}</a></td>
                                                    <td>{{advertRow.owner.companyName}}</td>
                                                    <td>
                                                        <span [class]="
                                                            advertRow.statistics.advertProgress < 65 ? 'badge bg-success' :
                                                            advertRow.statistics.advertProgress < 90 ? 'badge bg-warning' : 'badge bg-danger'">
                                                            {{advertRow.statistics.advertProgress}}%
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="advertList.length == 0">
                                                    <td colspan="6" class="text-center">No record to show</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Client</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer" *ngIf="advertList.length > 0">
                                        <a [routerLink]="['/adverts']" class="btn btn-primary btn-sm" type="button">View All Advert</a>
                                    </div>
                                    <!-- /.card-footer -->
                                </div>
                            <!-- /.card -->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-primary card-outline card-tabs">

                                <img [hidden]='!loading' [class]="loading?'mx-auto d-block':''" src="assets/LoadingGIF/Rolling-1s-75px.gif">

                                <!-- Default box -->
                                <div class="card card-solid" [hidden]='loading'>
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-edit"></i>
                                            Top Survey Campaign
                                              <!-- /.card-tools -->
                                        </h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Client</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let surveyRow of surveyList;">
                                                    <td><a [routerLink]="['/adverts/view', surveyRow.ref]"> {{surveyRow.title}}</a></td>
                                                    <td>{{surveyRow.owner.companyName}}</td>
                                                    <td>
                                                        <span [class]="
                                                        surveyRow.statistics.advertProgress < 65 ? 'badge bg-success' :
                                                        surveyRow.statistics.advertProgress < 90 ? 'badge bg-warning' : 'badge bg-danger'">
                                                            {{surveyRow.statistics.advertProgress}}%
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="surveyList.length == 0">
                                                    <td colspan="6" class="text-center">No record to show</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Client</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer" *ngIf="surveyList.length > 0">
                                        <a [routerLink]="['/surveys']" class="btn btn-primary btn-sm" type="button">View All Survey</a>
                                    </div>
                                    <!-- /.card-footer -->
                                </div>
                            <!-- /.card -->
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card card-primary card-outline card-tabs">

                                <img [hidden]='!loading' [class]="loading?'mx-auto d-block':''" src="assets/LoadingGIF/Rolling-1s-75px.gif">

                                <!-- Default box -->
                                <div class="card card-solid" [hidden]='loading'>
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-edit"></i>
                                            Recent Transactions
                                              <!-- /.card-tools -->
                                        </h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Amount</th>
                                                    <th>Channel</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let reportRow of reportList;">
                                                    <td>{{reportRow.transaction_id}}</td>
                                                    <td>{{reportRow.amount}}</td>
                                                    <td>{{reportRow.transaction_channel}}</td>
                                                </tr>
                                                <tr *ngIf="reportList.length == 0">
                                                    <td colspan="6" class="text-center">No record to show</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Amount</th>
                                                    <th>Channel</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer" *ngIf="reportList.length > 0">
                                        <a [routerLink]="['/transaction']" class="btn btn-primary btn-sm" type="button">View All Transactions</a>
                                    </div>
                                    <!-- /.card-footer -->
                                </div>
                            <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->
</div>