<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                Savings
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <canvas id="savings" width="1200px" height="400"></canvas>
        </div>
    </div>
    <!-- /.card -->
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                Impression
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <canvas id="daily"></canvas>
        </div>
        <!-- /.card-body -->
        <div class="card-body">
            <canvas id="weekly"></canvas>
        </div>
        <!-- /.card-body -->
        <div class="card-body">
            <canvas id="monthly"></canvas>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Users Per Location
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <canvas id="locationRequest" width="1200px" height="400"></canvas>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Available Devices
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <canvas id="deviceRequest" width="1200px" height="400"></canvas>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>